################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/dysnomia/v17
/.vs
/vs2022/.vs
/vs2022/Affinity/obj
/vs2022/Affinity/x64/Debug
/vs2022/Dynamic/obj
/vs2022/Dynamic/x64/Debug
/vs2022/Dysnomia/bin/Debug
/vs2022/Dysnomia/obj
/vs2022/Math/obj
/vs2022/Math/x64/Debug
/vs2022/x64/Debug
/vs2022/Affinity/Affinity.vcxproj.filters
/vs2022/Affinity/Affinity.vcxproj.user
/vs2022/Dynamic/Dynamic.vcxproj.filters
/vs2022/Dynamic/Dynamic.vcxproj.user
/vs2022/Dysnomia/Dysnomia.csproj.user
/vs2022/Math/Math.vcxproj.filters
/vs2022/Math/Math.vcxproj.user
/vs2022/Perception/obj/Perception.vcxproj.nuget.dgspec.json
/vs2022/Perception/obj
/vs2022/Perception/x64/Debug
/vs2022/Perception/Perception.vcxproj.filters
/vs2022/Perception/Perception.vcxproj.user
/vs2022/Bond/obj
/vs2022/Bond/x64/Debug
/vs2022/Bond/Bond.vcxproj.filters
/vs2022/Bond/Bond.vcxproj.user
/vs2022/Ion/obj
/vs2022/Ion/x64/Debug
/vs2022/Ion/Ion.vcxproj.filters
/vs2022/Ion/Ion.vcxproj.user
/vs2022/Metal/obj
/vs2022/Metal/x64/Debug
/vs2022/Metal/Metal.vcxproj.filters
/vs2022/Metal/Metal.vcxproj.user
/vs2022/Orbital/obj
/vs2022/Orbital/x64/Debug
/vs2022/Orbital/Orbital.vcxproj.user
/vs2022/Orbital/Orbital.vcxproj.filters
/vs2022/Situation/obj
/vs2022/Situation/x64/Debug
/vs2022/Situation/Situation.vcxproj.filters
/vs2022/Situation/Situation.vcxproj.user
/vs2022/Valence/obj
/vs2022/Valence/x64/Debug/Metal.tlog
/vs2022/Valence/x64/Debug/Valence.tlog
/vs2022/Valence/x64/Debug
/vs2022/Valence/Valence.vcxproj.user
/vs2022/Valence/Metal.vcxproj.user
/vs2022/Valence/Metal.vcxproj.filters
/vs2022/Salt/obj
/vs2022/Salt/x64/Debug
/vs2022/Salt/Salt.vcxproj.filters
*.cache
/vs2022/Prion/bin/Debug/net7.0
/vs2022/Prion/obj/Debug/net7.0
/vs2022/Prion/obj
/vs2022/Quaternion/obj
/vs2022/Quaternion/x64/Debug
/vs2022/Quaternion/Quaternion.vcxproj.user
/vs2022/Quaternion/Quaternion.vcxproj.filters
/vs2022/Polygamma/obj
/vs2022/Polygamma/x64/Debug
/vs2022/Polygamma/Polygamma.vcxproj.user
/vs2022/Polygamma/Polygamma.vcxproj.filters
/vs2022/Octonion/obj
/vs2022/Octonion/x64/Debug
/vs2022/Octonion/Octonion.vcxproj.user
/vs2022/Octonion/Octonion.vcxproj.filters
/vs2022/Quark/obj
/vs2022/Quark/x64/Debug
/vs2022/Quark/Quark.vcxproj.user
/vs2022/Quark/Quark.vcxproj.filters
/vs2022/Soliton/obj
/vs2022/Soliton/x64/Debug
/vs2022/Soliton/Soliton.vcxproj.user
/vs2022/Soliton/Soliton.vcxproj.filters
/vs2022/Buffers/obj
/vs2022/Buffers/x64/Debug
/vs2022/Buffers/Buffers.vcxproj.user
/vs2022/Buffers/Buffers.vcxproj.filters
/vs2022/Polysigma/obj
/vs2022/Polysigma/x64/Debug
/vs2022/Polysigma/Polysigma.vcxproj.user
/vs2022/Polysigma/Polysigma.vcxproj.filters
/vs2022/Generics/obj
/vs2022/Generics/x64/Debug
/vs2022/Generics/Generics.vcxproj.user
/vs2022/Generics/Generics.vcxproj.filters
/vs2022/Spin/obj
/vs2022/Spin/x64/Debug/Spin.tlog
/vs2022/Spin/x64/Debug
/vs2022/Spin/Spin.vcxproj.user
/vs2022/Spin/Spin.vcxproj.filters
/vs2022/Model/Affinity/obj
/vs2022/Model/Affinity/x64/Debug
/vs2022/Model/Dynamic/obj
/vs2022/Model/Dynamic/x64/Debug
/vs2022/Model/Affinity/Affinity.vcxproj.user
/vs2022/Model/Affinity/Affinity.vcxproj.filters
/vs2022/Model/Ion/x64/Debug
/vs2022/Model/Ion/obj
/vs2022/Model/Dynamic/Dynamic.vcxproj.user
/vs2022/Model/Dynamic/Dynamic.vcxproj.filters
/vs2022/Model/Octonion/x64/Debug
/vs2022/Model/Octonion/obj
/vs2022/Model/Ion/Ion.vcxproj.user
/vs2022/Model/Ion/Ion.vcxproj.filters
/vs2022/Model/Orbital/x64/Debug
/vs2022/Model/Orbital/obj
/vs2022/Model/Octonion/Octonion.vcxproj.user
/vs2022/Model/Octonion/Octonion.vcxproj.filters
/vs2022/Model/Polygamma/x64/Debug
/vs2022/Model/Polygamma/obj
/vs2022/Model/Orbital/Orbital.vcxproj.user
/vs2022/Model/Orbital/Orbital.vcxproj.filters
/vs2022/Model/Quark/x64/Debug
/vs2022/Model/Quark/obj
/vs2022/Model/Polygamma/Polygamma.vcxproj.user
/vs2022/Model/Polygamma/Polygamma.vcxproj.filters
/vs2022/Model/Quaternion/x64/Debug
/vs2022/Model/Quaternion/obj
/vs2022/Model/Quark/Quark.vcxproj.user
/vs2022/Model/Quark/Quark.vcxproj.filters
/vs2022/Model/Soliton/x64/Debug
/vs2022/Model/Soliton/obj
/vs2022/Model/Quaternion/Quaternion.vcxproj.user
/vs2022/Model/Quaternion/Quaternion.vcxproj.filters
/vs2022/Model/Spin/x64/Debug
/vs2022/Model/Spin/obj
/vs2022/Model/Soliton/Soliton.vcxproj.user
/vs2022/Model/Soliton/Soliton.vcxproj.filters
/vs2022/Util/Buffers/x64/Debug
/vs2022/Util/Buffers/obj
/vs2022/Model/Spin/Spin.vcxproj.user
/vs2022/Model/Spin/Spin.vcxproj.filters
/vs2022/Util/Generics/x64/Debug
/vs2022/Util/Generics/obj
/vs2022/Util/Buffers/Buffers.vcxproj.user
/vs2022/Util/Buffers/Buffers.vcxproj.filters
/vs2022/Util/Math/x64/Debug
/vs2022/Util/Math/obj
/vs2022/Util/Generics/Generics.vcxproj.user
/vs2022/Util/Generics/Generics.vcxproj.filters
/vs2022/Util/Math/Math.vcxproj.user
/vs2022/Util/Math/Math.vcxproj.filters
