################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/dysnomia/v17
/.vs
/vs2022/.vs
/vs2022/Affinity/obj
/vs2022/Affinity/x64/Debug
/vs2022/Dynamic/obj
/vs2022/Dynamic/x64/Debug
/vs2022/Dysnomia/bin/Debug
/vs2022/Dysnomia/obj
/vs2022/Math/obj
/vs2022/Math/x64/Debug
/vs2022/x64/Debug
/vs2022/Affinity/Affinity.vcxproj.filters
/vs2022/Affinity/Affinity.vcxproj.user
/vs2022/Dynamic/Dynamic.vcxproj.filters
/vs2022/Dynamic/Dynamic.vcxproj.user
/vs2022/Dysnomia/Dysnomia.csproj.user
/vs2022/Math/Math.vcxproj.filters
/vs2022/Math/Math.vcxproj.user
/vs2022/Perception/obj/Perception.vcxproj.nuget.dgspec.json
/vs2022/Perception/obj
/vs2022/Perception/x64/Debug
/vs2022/Perception/Perception.vcxproj.filters
/vs2022/Perception/Perception.vcxproj.user
/vs2022/Bond/obj
/vs2022/Bond/x64/Debug
/vs2022/Bond/Bond.vcxproj.filters
/vs2022/Bond/Bond.vcxproj.user
/vs2022/Ion/obj
/vs2022/Ion/x64/Debug
/vs2022/Ion/Ion.vcxproj.filters
/vs2022/Ion/Ion.vcxproj.user
/vs2022/Metal/obj
/vs2022/Metal/x64/Debug
/vs2022/Metal/Metal.vcxproj.filters
/vs2022/Metal/Metal.vcxproj.user
/vs2022/Orbital/obj
/vs2022/Orbital/x64/Debug
/vs2022/Orbital/Orbital.vcxproj.user
/vs2022/Orbital/Orbital.vcxproj.filters
/vs2022/Situation/obj
/vs2022/Situation/x64/Debug
/vs2022/Situation/Situation.vcxproj.filters
/vs2022/Situation/Situation.vcxproj.user
/vs2022/Valence/obj
/vs2022/Valence/x64/Debug/Metal.tlog
/vs2022/Valence/x64/Debug/Valence.tlog
/vs2022/Valence/x64/Debug
/vs2022/Valence/Valence.vcxproj.user
/vs2022/Valence/Metal.vcxproj.user
/vs2022/Valence/Metal.vcxproj.filters
/vs2022/Salt/obj
/vs2022/Salt/x64/Debug
/vs2022/Salt/Salt.vcxproj.filters
*.cache
/vs2022/Prion/bin/Debug/net7.0
/vs2022/Prion/obj/Debug/net7.0
/vs2022/Prion/obj
