################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/dysnomia/v17
/.vs
/vs2022/.vs
/vs2022/Affinity/obj
/vs2022/Affinity/x64/Debug
/vs2022/Dynamic/obj
/vs2022/Dynamic/x64/Debug
/vs2022/Dysnomia/bin/Debug
/vs2022/Dysnomia/obj
/vs2022/Math/obj
/vs2022/Math/x64/Debug
/vs2022/x64/Debug
/vs2022/Affinity/Affinity.vcxproj.filters
/vs2022/Affinity/Affinity.vcxproj.user
/vs2022/Dynamic/Dynamic.vcxproj.filters
/vs2022/Dynamic/Dynamic.vcxproj.user
/vs2022/Dysnomia/Dysnomia.csproj.user
/vs2022/Math/Math.vcxproj.filters
/vs2022/Math/Math.vcxproj.user
/vs2022/Perception/obj/Perception.vcxproj.nuget.dgspec.json
/vs2022/Perception/obj
/vs2022/Perception/x64/Debug
/vs2022/Perception/Perception.vcxproj.filters
/vs2022/Perception/Perception.vcxproj.user
